.first{
  background: url('../../assets/img/1.jpg') no-repeat center center;
  background-size: 100% 100%; 
  position: relative;
  // 第一页标题
  .first-tit{
    display: inline-block;
    padding:30px 0 0 30px;
    transition: all 1s linear;
    opacity: 0;
    color: #fff;
    h1{
      font-size: 300px;
      display: inline-block;
    }
    p{
      display: inline-block;
      font-size: 20px;
      letter-spacing: 3px;
    }
  }
  .first-tit-active{
    opacity: 0.3;
    color: #fff;
    h1{
      font-size: 300px;
      display: inline-block;
    }
    p{
      display: inline-block;
      font-size: 20px;
      letter-spacing: 3px;
    }
  }
  .first-poem{
    display: inline-block;
    transition: all 1s ease-out .3s;
    padding:30px 0 0 30px;
    color: #fff;
    opacity: 0;
    margin-left: -90px;
    p:first-child{
      font-size: 26px;
      letter-spacing: 3px;
    }
  }
  .first-poem-active{
    opacity: 0.4;
    margin-left: 30px;
  }
}