.third{
  background: url('../../assets/img/4.jpg') no-repeat center center;
  background-size: 100% auto; 
  display: flex;
  flex-wrap: wrap;
  .third-gorup{
    height: 40%;
    flex: 1;
    width: 33.3%;
    min-width: 33.3%;
    max-width: 33.3%;
    padding: 40px 40px 60px 40px;
    box-sizing: border-box;
    color: #fff;
    div{
      border-radius: 8px;
      width: 100%;
      height: 100%;
      background: #fff;
      transition: all .3s linear;
    }
    .third-back{
      background-size: 100% 100% !important; 
    }
    .third-back:hover{
      background-size: 110% 110% !important; 
    }
    p{
      float: left;
      line-height: 60px;
    }
    button{
      outline: none;
      line-height: 32px;
      float: right;
      color: #fff;
      border: 1px solid #fff;
      background: transparent;
      width: 80px;
      height: 32px;
      border-radius: 4px;
      margin-top: 14px;
      transition: all 0.3s ease-in-out;
    }
    button:hover{
      color: #91d5ff;
      border: 1px solid #91d5ff;
    }
  }
}